DJ_USERNAME=admin
DJ_PASSWORD=admin1234
DJ_EMAIL=admin@admin.com
DB_NAME=rooksafe
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=vrooksafe
SECRET_KEY='django-insecure-tdbajof^6om84qix%vxin+9hes2@^i$1@s%xu^bkh4umy$r#(g'
EXPERIENCE_LEVEL=avanzado
YT_API_KEY='AIzaSyB1XXZy8Pi43PBaYDerYu5OBZNIxK3FAdw'
