name: Build and Deploy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - develop
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose the environment to deploy'
        required: true
        default: 'develop'
        type: choice
        options:
          - develop
          - devops-workflow

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}-common-cache
          cache-to: type=inline
          build-args: |
            ENV=production
          tags: |
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ github.sha }}

  deploy:
    needs: build-and-test
    runs-on:  [self-hosted]
    env:
      DB_HOST: '${{ secrets.DB_HOST }}'
      DB_PORT: '${{ secrets.DB_PORT }}'
      DB_NAME: '${{ secrets.DB_NAME }}'
      DB_USER: '${{ secrets.DB_USER }}'
      DB_PASSWORD: '${{ secrets.DB_PASSWORD }}'
      SECRET_KEY: '${{ secrets.SECRET_KEY }}'
      DJ_USERNAME: '${{ secrets.DJ_USERNAME }}'
      DJ_PASSWORD: '${{ secrets.DJ_PASSWORD }}'
      DJ_EMAIL: '${{ secrets.DJ_EMAIL }}'
      EXPERIENCE_LEVEL: '${{ secrets.EXPERIENCE_LEVEL }}'
      YT_API_KEY: '${{ secrets.YT_API_KEY }}'
      REDIS_URL: '${{ secrets.REDIS_URL }}'
    steps:

      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Delete Previous 
        run: |
          docker-compose stop rooksafe-back && docker-compose rm rooksafe-back

      - name: Pull and Deploy
        run: |
          docker-compose pull && docker-compose up -d   

      - name: Remove old Images
        run: |
          docker rmi $(docker images -f dangling=true -q )
      
      - name: Post Deploy Tasks
        run: |
          docker-compose -f docker-compose.yml exec -it rooksafe-back python3 manage.py collectstatic --noinput
          docker-compose -f docker-compose.yml exec -it rooksafe-back python3 manage.py makemigrations users
          docker-compose -f docker-compose.yml exec -it rooksafe-back python3 manage.py makemigrations Evaluations
          docker-compose -f docker-compose.yml exec -it rooksafe-back python3 manage.py makemigrations educationContent
          docker-compose -f docker-compose.yml exec -it rooksafe-back python3 manage.py migrate